* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}
#bioPage {
  padding: 15px 15px 15px;
  background-color: #141414;
  color: #f5f5f7;
  text-emphasis-color: white;
}
.nav a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #141414;
  color: white;
}
.nav h2 {
  color: white;
  font-size: 20px;
  padding: 7.5px 10px 7.5 10px;
}
.bio h2 {
  display: inline-block;
  justify-content: space-around;
  font-size: 50px;
  color: #d6d6d5;
  border-bottom: 3px solid #0371e3;
  letter-spacing: 5px;
}
.container {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  /* text-align: center; */
}

.fullPage {
  text-align: center;
  /* background-image: url(personalBio.JPG); */
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #2f2f2f;
  color: #f5f5f7;
  align-items: center;
}

#navLinks {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 7.5px 10px 7.5px 10px;
  border: 3px solid #1d1d1f;
  background-color: #2f2f2f;
}
#navLinks h1 {
  color: white;
  background-color: #2f2f2f;
}
#navToBio {
  color: white;
  background-color: #2f2f2f;
}

#navToTechnologies {
  color: white;
  background-color: #2f2f2f;
}
#navToProjects {
  color: white;
  background-color: #2f2f2f;
}

.project {
  text-align: center;
  width: 300px;
  height: 400px;
  border: 3px solid black;
  background-color: #b8bdb5;
  color: #f5f5f7;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.bioPage p {
  color: black;
  padding: 40px 40px;
  margin: 10px 10px 10px 10px;
  font-size: 40px;
  width: 100%;
  height: 100%;
}

.project h1 {
  border: 5px solid black;
  align-items: center;
  background-color: #0371e3;
  position: relative;
  top: 5px;
  padding: 5px;
  margin: 1px 5px 1px 5px;
}

#technologiesPage {
  padding: 10px;
  background-color: #141414;
  color: #f5f5f7;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  /* background-image: url(personalBio.JPG); */
}

#projectsPage {
  background-image: url(personalBio.JPG);
}

.aboutImg {
  height: 300px;
  width: 300px;
  border: 4px solid #0d449b;
  margin: 2% 0 5% 2%;
}
